.tilted-card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* Deeper perspective for large elements */
  perspective: 1200px; 
}

.tilted-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  will-change: transform;
}